<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- Versions -->
      <add key="AppVersion" value="1036" />
      <add key="RscVersion" value="0" />
      <add key="MstVersion" value="1155" />
    </appSettings>    
    <userSettings>
        <Client.Properties.Settings>
            <setting name="fbidInput" serializeAs="String">
                <value />
            </setting>
            <setting name="fbtokenInput" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>
