<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- Versions -->
      <add key="AppVersion" value="1036" />
      <add key="RscVersion" value="0" />
      <add key="MstVersion" value="1155" />
    </appSettings>    
</configuration>
